COMPOSE_PROJECT_NAME=bar-vision

APP_PORT=18100

POSTGRES_DB=barvision
POSTGRES_USER=barvision
POSTGRES_PASSWORD=change_me

JWT_SECRET=change_me_to_a_long_random_secret

MINIO_ROOT_USER=barvision
MINIO_ROOT_PASSWORD=change_me_minio
S3_BUCKET=bar-vision
S3_REGION=us-east-1
